

.button, .button:link, .button:visited {

	display: inline-block;

	padding: 0.3em 1em;
	margin: 0;

	border: 1px solid #ccc;
	border-radius: 7px;

	@include gradient-bg(#e5e5e5, #ccc);

	color: #333;
	font-size: inherit;
	font-weight: bold;
	line-height: inherit;
	text-decoration: none;
	text-shadow: -1px -1px 1px #ccc;

	cursor: pointer;


	&:hover {
		box-shadow: 0 0 7px 2px #ABDDEE;
	}

	&:active {
		@include gradient-bg(#ccc, #e5e5e5);
	}


	&[disabled] {
		opacity: 0.666;
	}

	&[disabled]:hover {
		box-shadow: none;
	}

	&[disabled]:active {
		@include gradient-bg(#e5e5e5, #ccc);
	}


	&.primary,
	&.primary[disabled]:active {
		border-color: #09c;
		background: #7FCCE5;
		@include gradient-bg(#7FCCE5, #09c);
		color: #fff;
		text-shadow: -1px -1px 1px #09c;
	}

	&.primary:active {
		@include gradient-bg(#09c, #7FCCE5);
	}


	@include transition(box-shadow, 0.25s);


}





.ui-button-menu {
	display: none;
}
