/* ========================================================================= */
/* Mixins */
body {
  min-width: 960px; }

.container_24 {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16, .grid_17, .grid_18, .grid_19, .grid_20, .grid_21, .grid_22, .grid_23, .grid_24 {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px; }

.push_1, .pull_1, .push_2, .pull_2, .push_3, .pull_3, .push_4, .pull_4, .push_5, .pull_5, .push_6, .pull_6, .push_7, .pull_7, .push_8, .pull_8, .push_9, .pull_9, .push_10, .pull_10, .push_11, .pull_11, .push_12, .pull_12, .push_13, .pull_13, .push_14, .pull_14, .push_15, .pull_15, .push_16, .pull_16, .push_17, .pull_17, .push_18, .pull_18, .push_19, .pull_19, .push_20, .pull_20, .push_21, .pull_21, .push_22, .pull_22, .push_23, .pull_23 {
  position: relative; }

.alpha {
  margin-left: 0; }

.omega {
  margin-right: 0; }

.container_24 .grid_1 {
  width: 30px; }

.container_24 .grid_2 {
  width: 70px; }

.container_24 .grid_3 {
  width: 110px; }

.container_24 .grid_4 {
  width: 150px; }

.container_24 .grid_5 {
  width: 190px; }

.container_24 .grid_6 {
  width: 230px; }

.container_24 .grid_7 {
  width: 270px; }

.container_24 .grid_8 {
  width: 310px; }

.container_24 .grid_9 {
  width: 350px; }

.container_24 .grid_10 {
  width: 390px; }

.container_24 .grid_11 {
  width: 430px; }

.container_24 .grid_12 {
  width: 470px; }

.container_24 .grid_13 {
  width: 510px; }

.container_24 .grid_14 {
  width: 550px; }

.container_24 .grid_15 {
  width: 590px; }

.container_24 .grid_16 {
  width: 630px; }

.container_24 .grid_17 {
  width: 670px; }

.container_24 .grid_18 {
  width: 710px; }

.container_24 .grid_19 {
  width: 750px; }

.container_24 .grid_20 {
  width: 790px; }

.container_24 .grid_21 {
  width: 830px; }

.container_24 .grid_22 {
  width: 870px; }

.container_24 .grid_23 {
  width: 910px; }

.container_24 .grid_24 {
  width: 950px; }

.container_24 .prefix_1 {
  padding-left: 40px; }

.container_24 .prefix_2 {
  padding-left: 80px; }

.container_24 .prefix_3 {
  padding-left: 120px; }

.container_24 .prefix_4 {
  padding-left: 160px; }

.container_24 .prefix_5 {
  padding-left: 200px; }

.container_24 .prefix_6 {
  padding-left: 240px; }

.container_24 .prefix_7 {
  padding-left: 280px; }

.container_24 .prefix_8 {
  padding-left: 320px; }

.container_24 .prefix_9 {
  padding-left: 360px; }

.container_24 .prefix_10 {
  padding-left: 400px; }

.container_24 .prefix_11 {
  padding-left: 440px; }

.container_24 .prefix_12 {
  padding-left: 480px; }

.container_24 .prefix_13 {
  padding-left: 520px; }

.container_24 .prefix_14 {
  padding-left: 560px; }

.container_24 .prefix_15 {
  padding-left: 600px; }

.container_24 .prefix_16 {
  padding-left: 640px; }

.container_24 .prefix_17 {
  padding-left: 680px; }

.container_24 .prefix_18 {
  padding-left: 720px; }

.container_24 .prefix_19 {
  padding-left: 760px; }

.container_24 .prefix_20 {
  padding-left: 800px; }

.container_24 .prefix_21 {
  padding-left: 840px; }

.container_24 .prefix_22 {
  padding-left: 880px; }

.container_24 .prefix_23 {
  padding-left: 920px; }

.container_24 .suffix_1 {
  padding-right: 40px; }

.container_24 .suffix_2 {
  padding-right: 80px; }

.container_24 .suffix_3 {
  padding-right: 120px; }

.container_24 .suffix_4 {
  padding-right: 160px; }

.container_24 .suffix_5 {
  padding-right: 200px; }

.container_24 .suffix_6 {
  padding-right: 240px; }

.container_24 .suffix_7 {
  padding-right: 280px; }

.container_24 .suffix_8 {
  padding-right: 320px; }

.container_24 .suffix_9 {
  padding-right: 360px; }

.container_24 .suffix_10 {
  padding-right: 400px; }

.container_24 .suffix_11 {
  padding-right: 440px; }

.container_24 .suffix_12 {
  padding-right: 480px; }

.container_24 .suffix_13 {
  padding-right: 520px; }

.container_24 .suffix_14 {
  padding-right: 560px; }

.container_24 .suffix_15 {
  padding-right: 600px; }

.container_24 .suffix_16 {
  padding-right: 640px; }

.container_24 .suffix_17 {
  padding-right: 680px; }

.container_24 .suffix_18 {
  padding-right: 720px; }

.container_24 .suffix_19 {
  padding-right: 760px; }

.container_24 .suffix_20 {
  padding-right: 800px; }

.container_24 .suffix_21 {
  padding-right: 840px; }

.container_24 .suffix_22 {
  padding-right: 880px; }

.container_24 .suffix_23 {
  padding-right: 920px; }

.container_24 .push_1 {
  left: 40px; }

.container_24 .push_2 {
  left: 80px; }

.container_24 .push_3 {
  left: 120px; }

.container_24 .push_4 {
  left: 160px; }

.container_24 .push_5 {
  left: 200px; }

.container_24 .push_6 {
  left: 240px; }

.container_24 .push_7 {
  left: 280px; }

.container_24 .push_8 {
  left: 320px; }

.container_24 .push_9 {
  left: 360px; }

.container_24 .push_10 {
  left: 400px; }

.container_24 .push_11 {
  left: 440px; }

.container_24 .push_12 {
  left: 480px; }

.container_24 .push_13 {
  left: 520px; }

.container_24 .push_14 {
  left: 560px; }

.container_24 .push_15 {
  left: 600px; }

.container_24 .push_16 {
  left: 640px; }

.container_24 .push_17 {
  left: 680px; }

.container_24 .push_18 {
  left: 720px; }

.container_24 .push_19 {
  left: 760px; }

.container_24 .push_20 {
  left: 800px; }

.container_24 .push_21 {
  left: 840px; }

.container_24 .push_22 {
  left: 880px; }

.container_24 .push_23 {
  left: 920px; }

.container_24 .pull_1 {
  left: -40px; }

.container_24 .pull_2 {
  left: -80px; }

.container_24 .pull_3 {
  left: -120px; }

.container_24 .pull_4 {
  left: -160px; }

.container_24 .pull_5 {
  left: -200px; }

.container_24 .pull_6 {
  left: -240px; }

.container_24 .pull_7 {
  left: -280px; }

.container_24 .pull_8 {
  left: -320px; }

.container_24 .pull_9 {
  left: -360px; }

.container_24 .pull_10 {
  left: -400px; }

.container_24 .pull_11 {
  left: -440px; }

.container_24 .pull_12 {
  left: -480px; }

.container_24 .pull_13 {
  left: -520px; }

.container_24 .pull_14 {
  left: -560px; }

.container_24 .pull_15 {
  left: -600px; }

.container_24 .pull_16 {
  left: -640px; }

.container_24 .pull_17 {
  left: -680px; }

.container_24 .pull_18 {
  left: -720px; }

.container_24 .pull_19 {
  left: -760px; }

.container_24 .pull_20 {
  left: -800px; }

.container_24 .pull_21 {
  left: -840px; }

.container_24 .pull_22 {
  left: -880px; }

.container_24 .pull_23 {
  left: -920px; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix:before, .clearfix:after, .container_24:before, .container_24:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0; }

.clearfix:after, .container_24:after {
  clear: both; }

.clearfix, .container_24 {
  zoom: 1; }

/* ========================================================================= */
/* Base styles */
body {
  margin: 0;
  font: 62.5%/1.5 "Helvetica Neue", Arial, sans-serif;
  color: #333;
  background: #fff; }

section, article, header, nav, aside, footer, video, dialog, figure, address {
  display: block; }

img {
  border: none; }

input, select, textarea, button {
  font-family: inherit;
  font-size: 1em;
  color: #333; }

a:link {
  color: #5757ff; }
a:visited {
  color: #9a57ff; }
a:hover, a:active {
  color: #9a57ff; }

::-moz-selection {
  background: #333;
  color: #fff; }

::selection {
  background: #333;
  color: #fff; }

/* Reset - still not sure this is a good idea */
h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0 0 10px;
  padding: 0;
  border: 0;
  font-weight: normal; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, p small, ul small, ol small {
    font-size: 0.75em;
    color: #999; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, p a, ul a, ol a {
    text-decoration: none; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.6em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em;
  font-weight: bold; }
  h5 small {
    font-size: 0.85714em;
    color: #999; }

h6 {
  font-size: 1em;
  font-weight: bold; }
  h6 small {
    font-size: 1em;
    color: #999; }

ul, ol {
  list-style-type: none;
  padding: 0 0 0 1.3em; }

ul {
  list-style-type: disc; }
  ul ul {
    list-style-type: circle; }
    ul ul ul {
      list-style-type: square; }

ol {
  list-style-type: decimal; }
  ol ol {
    list-style-type: upper-roman; }
    ol ol ol {
      list-style-type: lower-roman; }

dt {
  font-weight: bold; }

dd {
  margin-left: 2em; }

.intro {
  font-size: 1.16667em; }

/* ========================================================================= */
/* Basic page layout */
#page-wrapper {
  position: relative; }

#header-wrapper > header, #main, #header-wrapper > footer {
  margin: 0 auto;
  padding: 0 10px; }

nav ul, nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
  letter-spacing: -4px; }

nav li {
  letter-spacing: normal; }

/* Skip navigation links */
#skipnav {
  position: absolute;
  z-index: 32768;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  list-style-type: none; }

#skipnav a {
  position: absolute;
  left: -1000px;
  width: 300px;
  height: 20px;
  margin: 0 auto;
  padding: 7px 10px;
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
  overflow: hidden;
  background: #fff;
  font-size: 1.4em;
  text-align: center; }

#skipnav a:focus {
  left: 0;
  outline: none; }

/* Header */
#header-wrapper {
  background: #3f4c6b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3f4c6b), color-stop(100%, #000033));
  background: -webkit-linear-gradient(top, #3f4c6b 0%, #000033 100%);
  background: -moz-linear-gradient(top, #3f4c6b 0%, #000033 100%);
  background: -ms-linear-gradient(top, #3f4c6b 0%, #000033 100%);
  background: -o-linear-gradient(top, #3f4c6b 0%, #000033 100%);
  background: linear-gradient(top, #3f4c6b 0%, #000033 100%);
  /* IE8< filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$header_start_colour', endColorstr='$header_end_colour', GradientType=0); */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$header_start_colour', endColorstr='$header_end_colour', GradientType=0)";
  margin-bottom: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); }

#header-wrapper > header {
  font-size: 1.4em; }

#header-wrapper > header #logo, #header-wrapper > header nav {
  display: inline-block; }

#header-wrapper > header #logo {
  margin: 10px 10px 10px 0;
  font-weight: bold; }

#header-wrapper > header #logo img {
  vertical-align: middle; }

#header-wrapper > header a:link, #header-wrapper > header a:visited {
  color: #e0ded3;
  text-decoration: none; }

#primary-navigation {
  margin-left: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  vertical-align: top; }

#primary-navigation a {
  display: block;
  height: 32px;
  padding: 10px 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 1s ease 0s;
  -moz-transition: background-color 1s ease 0s;
  -o-transition: background-color 1s ease 0s;
  transition: background-color 1s ease 0s; }

#primary-navigation a:hover {
  background: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: background-color 0.2s ease 0s;
  -moz-transition: background-color 0.2s ease 0s;
  -o-transition: background-color 0.2s ease 0s;
  transition: background-color 0.2s ease 0s; }

/* Main content area */
#main {
  font-size: 1.2em; }

/* Secondary navigation */
#secondary-navigation ul, #secondary-navigation li {
  display: block; }

/* Sidebar */
/* Footer */
#footer-wrapper > footer {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #e3e3e3; }

#footer-wrapper > footer ul {
  letter-spacing: normal; }

#footer-wrapper > footer li:after {
  content: " |"; }

#footer-wrapper > footer li:last-child:after {
  content: ""; }

/* ========================================================================= */
/* Modules */
/* Base modules */
.module-group {
  zoom: 1; }
  .module-group:before, .module-group:after {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    content: "."; }
  .module-group:after {
    clear: both; }

.module {
  position: relative; }
  .module header, .module .header {
    position: relative; }
  .module .content {
    position: relative; }
  .module footer, .module .footer {
    position: relative; }

/* ========================================================================= */
/* Units, prices, etc. */
/* Generic units */
.unit .prefix {
  vertical-align: top; }
.unit .minor {
  font-size: 1.4em; }
.unit .decimal {
  vertical-align: top; }
.unit .major {
  vertical-align: top; }
.unit .suffix {
  vertical-align: top; }

/* Prices */
.price .currency {
  vertical-align: top; }
.price .dollars {
  font-size: 1.4em; }
.price .decimal {
  vertical-align: top; }
.price .cents {
  vertical-align: top; }
.price .per {
  vertical-align: top; }

.button, .button:link, .button:visited {
  display: inline-block;
  padding: 0.3em 1em;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 7px;
  background: #e5e5e5;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(top, #e5e5e5 0%, #cccccc 100%);
  background: -moz-linear-gradient(top, #e5e5e5 0%, #cccccc 100%);
  background: -ms-linear-gradient(top, #e5e5e5 0%, #cccccc 100%);
  background: -o-linear-gradient(top, #e5e5e5 0%, #cccccc 100%);
  background: linear-gradient(top, #e5e5e5 0%, #cccccc 100%);
  /* IE8< filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$header_start_colour', endColorstr='$header_end_colour', GradientType=0); */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$header_start_colour', endColorstr='$header_end_colour', GradientType=0)";
  color: #333;
  font-size: inherit;
  font-weight: bold;
  line-height: inherit;
  text-decoration: none;
  text-shadow: -1px -1px 1px #cccccc;
  cursor: pointer;
  -webkit-transition: box-shadow 0.25s ease 0s;
  -moz-transition: box-shadow 0.25s ease 0s;
  -o-transition: box-shadow 0.25s ease 0s;
  transition: box-shadow 0.25s ease 0s; }
  .button:hover, .button:link:hover, .button:visited:hover {
    box-shadow: 0 0 7px 2px #ABDDEE; }
  .button:active, .button:link:active, .button:visited:active {
    background: #cccccc;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, #e5e5e5));
    background: -webkit-linear-gradient(top, #cccccc 0%, #e5e5e5 100%);
    background: -moz-linear-gradient(top, #cccccc 0%, #e5e5e5 100%);
    background: -ms-linear-gradient(top, #cccccc 0%, #e5e5e5 100%);
    background: -o-linear-gradient(top, #cccccc 0%, #e5e5e5 100%);
    background: linear-gradient(top, #cccccc 0%, #e5e5e5 100%);
    /* IE8< filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$header_start_colour', endColorstr='$header_end_colour', GradientType=0); */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$header_start_colour', endColorstr='$header_end_colour', GradientType=0)"; }
  .button[disabled], .button:link[disabled], .button:visited[disabled] {
    opacity: 0.666; }
  .button[disabled]:hover, .button:link[disabled]:hover, .button:visited[disabled]:hover {
    box-shadow: none; }
  .button[disabled]:active, .button:link[disabled]:active, .button:visited[disabled]:active {
    background: #e5e5e5;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, #cccccc));
    background: -webkit-linear-gradient(top, #e5e5e5 0%, #cccccc 100%);
    background: -moz-linear-gradient(top, #e5e5e5 0%, #cccccc 100%);
    background: -ms-linear-gradient(top, #e5e5e5 0%, #cccccc 100%);
    background: -o-linear-gradient(top, #e5e5e5 0%, #cccccc 100%);
    background: linear-gradient(top, #e5e5e5 0%, #cccccc 100%);
    /* IE8< filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$header_start_colour', endColorstr='$header_end_colour', GradientType=0); */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$header_start_colour', endColorstr='$header_end_colour', GradientType=0)"; }
  .button.primary, .button.primary[disabled]:active, .button:link.primary, .button:link.primary[disabled]:active, .button:visited.primary, .button:visited.primary[disabled]:active {
    border-color: #09c;
    background: #7FCCE5;
    background: #7fcce5;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fcce5), color-stop(100%, #0099cc));
    background: -webkit-linear-gradient(top, #7fcce5 0%, #0099cc 100%);
    background: -moz-linear-gradient(top, #7fcce5 0%, #0099cc 100%);
    background: -ms-linear-gradient(top, #7fcce5 0%, #0099cc 100%);
    background: -o-linear-gradient(top, #7fcce5 0%, #0099cc 100%);
    background: linear-gradient(top, #7fcce5 0%, #0099cc 100%);
    /* IE8< filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$header_start_colour', endColorstr='$header_end_colour', GradientType=0); */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$header_start_colour', endColorstr='$header_end_colour', GradientType=0)";
    color: #fff;
    text-shadow: -1px -1px 1px #0099cc; }
  .button.primary:active, .button:link.primary:active, .button:visited.primary:active {
    background: #0099cc;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0099cc), color-stop(100%, #7fcce5));
    background: -webkit-linear-gradient(top, #0099cc 0%, #7fcce5 100%);
    background: -moz-linear-gradient(top, #0099cc 0%, #7fcce5 100%);
    background: -ms-linear-gradient(top, #0099cc 0%, #7fcce5 100%);
    background: -o-linear-gradient(top, #0099cc 0%, #7fcce5 100%);
    background: linear-gradient(top, #0099cc 0%, #7fcce5 100%);
    /* IE8< filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$header_start_colour', endColorstr='$header_end_colour', GradientType=0); */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$header_start_colour', endColorstr='$header_end_colour', GradientType=0)"; }

.ui-button-menu {
  display: none; }
